# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.json

# End of https://www.toptal.com/developers/gitignore/api/c++
.gitignore
homework/hw01/sample.tgz
practice/pr4/sample.tgz
homework/hw03/test.cpp
practice/pr7/sample/test
.gitignore
homework/hw03/test
homework/hw02/sample/test
practice/pr5/sample (1)/test
homework/hw05/sample/test
homework/hw02/sample/test
homework/hw02/sample/test
homework/hw02/sample/test
